// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// mixins
@mixin bp($name) {
  @if $name == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $name == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $name == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $name == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

// common
a,
button {
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

// main
#root {
  text-align: center;
}

html {
  font-family: "Space Grotesk", sans-serif;
}

.quote-container {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  flex-wrap: wrap;
  align-content: center;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}
.quote,
.copyright,
.quote-btns,
.quote-btns__new-quote,
.quote-btns__save-as-wallpaper {
  position: relative;
  z-index: 1;
}
.quote {
  width: 100%;
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 2rem;

  &-content {
    text-align: right;
    max-width: 700px;
    width: 90%;

    &__quote {
      text-align: center;
      font-size: 1.9rem;
      font-weight: 400;
      @include bp(lg) {
        font-size: 1.7rem;
      }
      @include bp(md) {
        font-size: 1.5rem;
      }
      @include bp(sm) {
        font-size: 1.3rem;
      }
    }
    &__icon {
      margin-right: 0.8rem;
      font-size: 1.7rem;
      @include bp(lg) {
        font-size: 1.5rem;
      }
      @include bp(md) {
        font-size: 1.3rem;
      }
      @include bp(sm) {
        font-size: 1.1rem;
      }
    }
    &__author {
      font-weight: 400;
      display: inline-block;
      margin-top: 2%;
      @include bp(md) {
        font-size: 0.9rem;
      }
      @include bp(sm) {
        font-size: 0.8rem;
      }
    }
  }

  &-btns {
    display: inline-flex;
    &__share {
      display: flex;
      gap: 1rem;
    }
    &__new-quote {
      font-weight: 900;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 4px;
      margin: 3px 0 7px;
      font-family: inherit;
      font-size: inherit;
      padding: 0.73rem;
      margin-left: 1rem;
      // make the cut out effect for text
      color: #000;
      mix-blend-mode: screen;
      &:focus {
        outline: none;
      }
    }
    &__save-as-wallpaper {
    }
  }
}

.copyright {
  display: inline-block;
  color: white;
  width: 100%;

  &__link {
    color: inherit;
    display: inline-block;
    padding: 1.1rem 0;
    @include bp(md) {
      padding: 0.8rem 0;
    }
    @include bp(sm) {
      padding: 0.6rem 0;
    }
  }
}
